@model List<BasketItemDto>
<div class="col-lg-8 table-responsive mb-5">
    <table class="table table-light table-borderless table-hover text-end mb-0 align-middle" style="font-size: 0.95rem;">
        <thead class="thead-dark">
            <tr>
                <th class="text-end">Ürün</th>
                <th class="text-end">Fiyat</th>
                <th class="text-end">Adet</th>
                <th class="text-end">Toplam</th>
                <th class="text-end">Kaldır</th>
            </tr>
        </thead>
        <tbody class="align-middle">
         
        @foreach(var item in Model)
        {
                <tr>
                    <td class="align-middle text-end" style="white-space: nowrap;">
                        <img src="@item.ProductImageUrl" alt="Test" style="width: 80px; height: 80px; margin-right: 6px;">
                        @item.ProductName
                    </td>

                    <td class="align-middle text-end" style="padding-right: 10px;">@item.Price</td>

                    <td class="align-middle text-end">
                        <div class="d-flex justify-content-end align-items-center gap-1" style="width: 130px; margin-left: auto;">
                            <button class="btn btn-primary" style="padding: 6px 12px; font-size: 1rem;">
                                <i class="fa fa-minus"></i>
                            </button>

                            <input type="text" class="form-control bg-secondary border-0 text-center text-black" value="@item.Quantity"
                                   style="width: 45px; height: 38px; font-size: 1rem; padding: 0 6px;">

                            <button class="btn btn-primary" style="padding: 6px 12px; font-size: 1rem;">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </td>

                    <td class="align-middle text-end" style="padding-right: 10px;">@item.Price</td>

                    <td class="align-middle text-end">
                        <a href="/ShopingCart/RemoveBasketItem/@item.ProductID" class="btn btn-danger" style="padding: 8px 12px; font-size: 1rem;">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>